<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dialog_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,593},{557,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,434}}</string>
                <key>sourceSize</key>
                <string>{557,434}</string>
            </dict>
            <key>Dialog_No_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,1671},{220,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,76}}</string>
                <key>sourceSize</key>
                <string>{220,76}</string>
            </dict>
            <key>Dialog_No_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,1184},{220,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,76}}</string>
                <key>sourceSize</key>
                <string>{220,76}</string>
            </dict>
            <key>Dialog_Yes_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1587},{220,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,76}}</string>
                <key>sourceSize</key>
                <string>{220,76}</string>
            </dict>
            <key>Dialog_Yes_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1509},{220,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,76}}</string>
                <key>sourceSize</key>
                <string>{220,76}</string>
            </dict>
            <key>GameOver_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,877},{589,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,451}}</string>
                <key>sourceSize</key>
                <string>{589,451}</string>
            </dict>
            <key>GameOver_Cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1431},{220,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,76}}</string>
                <key>sourceSize</key>
                <string>{220,76}</string>
            </dict>
            <key>GameOver_Cancel_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1353},{220,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,76}}</string>
                <key>sourceSize</key>
                <string>{220,76}</string>
            </dict>
            <key>GameOver_Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1634},{29,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{29,31}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>GameOver_Coin_Out.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,2001},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>GameOver_Home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,1741},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>GameOver_Home_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,1741},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>GameOver_New.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{874,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{874,391}}</string>
                <key>sourceSize</key>
                <string>{874,391}</string>
            </dict>
            <key>GameOver_New_Mo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{874,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{874,391}}</string>
                <key>sourceSize</key>
                <string>{874,391}</string>
            </dict>
            <key>GameOver_Quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,1104},{295,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,76}}</string>
                <key>sourceSize</key>
                <string>{295,76}</string>
            </dict>
            <key>GameOver_Quan_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1963},{295,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,76}}</string>
                <key>sourceSize</key>
                <string>{295,76}</string>
            </dict>
            <key>GameOver_Rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,1401},{268,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,65}}</string>
                <key>sourceSize</key>
                <string>{268,65}</string>
            </dict>
            <key>GameOver_Rank_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1286},{268,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,65}}</string>
                <key>sourceSize</key>
                <string>{268,65}</string>
            </dict>
            <key>GameOver_Replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,814},{288,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,99}}</string>
                <key>sourceSize</key>
                <string>{288,99}</string>
            </dict>
            <key>GameOver_Replay_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1474},{288,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,99}}</string>
                <key>sourceSize</key>
                <string>{288,99}</string>
            </dict>
            <key>GameOver_Score.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1963},{335,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,83}}</string>
                <key>sourceSize</key>
                <string>{335,83}</string>
            </dict>
            <key>GameOver_Screen_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2},{589,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,485}}</string>
                <key>sourceSize</key>
                <string>{589,485}</string>
            </dict>
            <key>GameOver_Share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1219},{268,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,65}}</string>
                <key>sourceSize</key>
                <string>{268,65}</string>
            </dict>
            <key>GameOver_Share_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1152},{268,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,65}}</string>
                <key>sourceSize</key>
                <string>{268,65}</string>
            </dict>
            <key>GameOver_Text_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,593},{589,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,95}}</string>
                <key>sourceSize</key>
                <string>{589,95}</string>
            </dict>
            <key>Main_All_Game_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,395},{614,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,480}}</string>
                <key>sourceSize</key>
                <string>{614,480}</string>
            </dict>
            <key>Main_All_Game_Info_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1330},{582,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,443}}</string>
                <key>sourceSize</key>
                <string>{582,443}</string>
            </dict>
            <key>Main_All_Game_Name_Tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,814},{255,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,74}}</string>
                <key>sourceSize</key>
                <string>{255,74}</string>
            </dict>
            <key>Main_All_Game_Name_Tip_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1377},{255,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,63}}</string>
                <key>sourceSize</key>
                <string>{255,63}</string>
            </dict>
            <key>Main_All_Game_Play.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,1843},{88,87}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{88,87}}</string>
                <key>sourceSize</key>
                <string>{116,103}</string>
            </dict>
            <key>Main_All_Game_Play_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,1665},{88,87}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{88,87}}</string>
                <key>sourceSize</key>
                <string>{116,103}</string>
            </dict>
            <key>Main_All_Game_Tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,1406},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>Main_Allgames_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1834},{112,29}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,11},{112,29}}</string>
                <key>sourceSize</key>
                <string>{198,79}</string>
            </dict>
            <key>Main_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,1730},{72,83}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{72,83}}</string>
                <key>sourceSize</key>
                <string>{116,103}</string>
            </dict>
            <key>Main_Back_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,1656},{72,83}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{72,83}}</string>
                <key>sourceSize</key>
                <string>{116,103}</string>
            </dict>
            <key>Main_Bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1775},{640,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,57}}</string>
                <key>sourceSize</key>
                <string>{640,57}</string>
            </dict>
            <key>Main_Buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,1754},{104,87}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{104,87}}</string>
                <key>sourceSize</key>
                <string>{116,103}</string>
            </dict>
            <key>Main_Buy_Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,1843},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>Main_Buy_Diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,1662},{104,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>Main_Buy_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,1883},{36,59}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,34},{36,59}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>Main_Buy_Left_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,1914},{36,59}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,34},{36,59}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>Main_Buy_Need_Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,1909},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>Main_Buy_Need_Diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1071},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>Main_Buy_Prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,1843},{91,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,102}}</string>
                <key>sourceSize</key>
                <string>{91,102}</string>
            </dict>
            <key>Main_Buy_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,1859},{36,59}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,34},{36,59}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>Main_Buy_Right_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2004},{36,59}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{36,59}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>Main_Buy_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,1550},{104,87}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{104,87}}</string>
                <key>sourceSize</key>
                <string>{116,103}</string>
            </dict>
            <key>Main_Date_Tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,1496},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>Main_Down_Pro_In.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,2},{468,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,18}}</string>
                <key>sourceSize</key>
                <string>{468,18}</string>
            </dict>
            <key>Main_Down_Pro_Out.png</key>
            <dict>
                <key>frame</key>
                <string>{{2007,2},{468,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,18}}</string>
                <key>sourceSize</key>
                <string>{468,18}</string>
            </dict>
            <key>Main_Download_G01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,1804},{55,53}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{55,53}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1982},{55,53}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{55,53}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,1920},{55,53}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{55,53}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,1932},{57,51}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{57,51}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1948},{59,51}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,1858},{61,49}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,1484},{63,49}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,1808},{61,49}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,814},{61,49}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{61,49}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1921},{59,51}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,1353},{59,51}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{59,51}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,1914},{57,51}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{57,51}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1921},{59,53}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{59,53}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,1975},{57,53}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{57,53}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1974},{59,53}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{59,53}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,1859},{59,53}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{59,53}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,1347},{57,51}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{57,51}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1949},{59,53}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{59,53}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1893},{59,53}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{59,53}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,1952},{57,53}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{57,53}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1932},{57,53}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{57,53}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1932},{57,53}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{57,53}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1859},{57,53}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{57,53}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Download_G24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,1894},{55,53}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{55,53}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Main_Edit_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,877},{595,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,78}}</string>
                <key>sourceSize</key>
                <string>{595,78}</string>
            </dict>
            <key>Main_Exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,1665},{216,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,74}}</string>
                <key>sourceSize</key>
                <string>{216,74}</string>
            </dict>
            <key>Main_Exit_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,1640},{216,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,74}}</string>
                <key>sourceSize</key>
                <string>{216,74}</string>
            </dict>
            <key>Main_Fri_Rank_Lebel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,1768},{76,38}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,4},{76,38}}</string>
                <key>sourceSize</key>
                <string>{178,50}</string>
            </dict>
            <key>Main_Fri_Rank_Lebel_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,1406},{76,38}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,4},{76,38}}</string>
                <key>sourceSize</key>
                <string>{178,50}</string>
            </dict>
            <key>Main_Game_Board_Mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1834},{608,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,127}}</string>
                <key>sourceSize</key>
                <string>{608,127}</string>
            </dict>
            <key>Main_Game_Cant_Send.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1764},{48,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,41}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>Main_Grey_Layer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1160}}</string>
                <key>sourceSize</key>
                <string>{640,1160}</string>
            </dict>
            <key>Main_History.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1936},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Main_History_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1936},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Main_Info_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,395},{417,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,242}}</string>
                <key>sourceSize</key>
                <string>{417,242}</string>
            </dict>
            <key>Main_Info_Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1808},{48,48}}</string>
                <key>offset</key>
                <string>{-53,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{48,48}}</string>
                <key>sourceSize</key>
                <string>{156,52}</string>
            </dict>
            <key>Main_Info_Diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,1834},{58,46}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{58,46}}</string>
                <key>sourceSize</key>
                <string>{156,52}</string>
            </dict>
            <key>Main_Info_Out_Circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1152},{187,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,187}}</string>
                <key>sourceSize</key>
                <string>{187,187}</string>
            </dict>
            <key>Main_Info_Power.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,1341},{155,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{155,153}}</string>
                <key>sourceSize</key>
                <string>{187,187}</string>
            </dict>
            <key>Main_Info_Power_Blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,1550},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{110,110}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>Main_Info_Prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,1990},{52,48}}</string>
                <key>offset</key>
                <string>{-52,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,48}}</string>
                <key>sourceSize</key>
                <string>{156,52}</string>
            </dict>
            <key>Main_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2037,472},{640,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,4}}</string>
                <key>sourceSize</key>
                <string>{640,4}</string>
            </dict>
            <key>Main_Loading_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1806},{255,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,231}}</string>
                <key>sourceSize</key>
                <string>{255,231}</string>
            </dict>
            <key>Main_Loading_Gamee.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1104},{271,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,51}}</string>
                <key>sourceSize</key>
                <string>{271,51}</string>
            </dict>
            <key>Main_Loading_Text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,1184},{161,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,23}}</string>
                <key>sourceSize</key>
                <string>{161,23}</string>
            </dict>
            <key>Main_Log_Out_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,1665},{216,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,74}}</string>
                <key>sourceSize</key>
                <string>{216,74}</string>
            </dict>
            <key>didi.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1164},{640,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,259}}</string>
                <key>sourceSize</key>
                <string>{640,259}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gamee_Pic_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:448fda61f7778e6be33915504df377a9:1/1$</string>
            <key>textureFileName</key>
            <string>Gamee_Pic_1.png</string>
        </dict>
    </dict>
</plist>
