<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,548},{98,306}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,2},{98,306}}</string>
                <key>sourceSize</key>
                <string>{178,310}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,968},{178,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,310}}</string>
                <key>sourceSize</key>
                <string>{178,310}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1148},{170,308}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,308}}</string>
                <key>sourceSize</key>
                <string>{178,310}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1004},{170,310}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,310}}</string>
                <key>sourceSize</key>
                <string>{178,310}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1322},{178,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,306}}</string>
                <key>sourceSize</key>
                <string>{178,310}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1142},{178,308}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,308}}</string>
                <key>sourceSize</key>
                <string>{178,310}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,962},{178,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,310}}</string>
                <key>sourceSize</key>
                <string>{178,310}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1176},{178,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,306}}</string>
                <key>sourceSize</key>
                <string>{178,310}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,824},{178,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,310}}</string>
                <key>sourceSize</key>
                <string>{178,310}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,644},{178,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,310}}</string>
                <key>sourceSize</key>
                <string>{178,310}</string>
            </dict>
            <key>btn_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{620,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,448}}</string>
                <key>sourceSize</key>
                <string>{620,448}</string>
            </dict>
            <key>btn_rain.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,644},{316,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,316}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>btn_rain_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,856},{316,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,316}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>btn_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,452},{400,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,169}}</string>
                <key>sourceSize</key>
                <string>{400,169}</string>
            </dict>
            <key>dot_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2024},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>dot_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2004},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>du.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,292},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>l_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1174},{135,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,158}}</string>
                <key>sourceSize</key>
                <string>{135,158}</string>
            </dict>
            <key>l_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1308},{135,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,158}}</string>
                <key>sourceSize</key>
                <string>{135,158}</string>
            </dict>
            <key>l_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,1174},{135,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,158}}</string>
                <key>sourceSize</key>
                <string>{135,158}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,179},{111,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,60}}</string>
                <key>sourceSize</key>
                <string>{111,60}</string>
            </dict>
            <key>play_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,66},{111,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,60}}</string>
                <key>sourceSize</key>
                <string>{111,60}</string>
            </dict>
            <key>rain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,968},{79,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>rain_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,452},{94,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,110}}</string>
                <key>sourceSize</key>
                <string>{94,110}</string>
            </dict>
            <key>rain_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,2},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1148},{136,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,71},{136,158}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1148},{136,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,71},{136,158}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1148},{136,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,71},{136,158}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,452},{360,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,181}}</string>
                <key>sourceSize</key>
                <string>{360,181}</string>
            </dict>
            <key>unbre.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,623},{343,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,374}}</string>
                <key>sourceSize</key>
                <string>{343,374}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,2000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,2000}}</string>
                <key>sourceSize</key>
                <string>{640,2000}</string>
            </dict>
            <key>yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,700}}</string>
                <key>sourceSize</key>
                <string>{640,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Main.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a19f1100d2e884493e05c0788bf796ba:1/1$</string>
            <key>textureFileName</key>
            <string>Main.png</string>
        </dict>
    </dict>
</plist>
