<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gamee_2_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{640,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,160}}</string>
                <key>sourceSize</key>
                <string>{640,160}</string>
            </dict>
            <key>Gamee_2_Boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>Gamee_2_Cube.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,121},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Gamee_2_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,360},{136,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,116}}</string>
                <key>sourceSize</key>
                <string>{136,116}</string>
            </dict>
            <key>Gamee_2_Peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,143},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>Gamee_2_Play.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{304,99}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{304,99}}</string>
                <key>sourceSize</key>
                <string>{334,117}</string>
            </dict>
            <key>Gamee_2_Play_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,117}}</string>
                <key>sourceSize</key>
                <string>{334,117}</string>
            </dict>
            <key>Gamee_2_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,222},{136,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,116}}</string>
                <key>sourceSize</key>
                <string>{136,116}</string>
            </dict>
            <key>Gamee_2_Run.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>Gamee_2_Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,498},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Gamee_2_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{583,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,211}}</string>
                <key>sourceSize</key>
                <string>{583,211}</string>
            </dict>
            <key>Gamee_2_Title_I.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,498},{33,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,72}}</string>
                <key>sourceSize</key>
                <string>{33,72}</string>
            </dict>
            <key>particleTexture.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gamee_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:544fa17b6e397bc88b7d91553028c59a:1/1$</string>
            <key>textureFileName</key>
            <string>Gamee_2.png</string>
        </dict>
    </dict>
</plist>
