<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gamee-3-bird00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,915},{230,246}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{230,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gamee-3-bird01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1683},{232,246}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{232,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gamee-3-bird02.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1435},{232,246}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{232,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gamee-3-bird03.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1187},{232,246}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{232,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gamee-3-bird04.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,250},{228,246}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{228,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gamee-3-bird05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{226,246}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{226,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gamee-3-bird06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,250},{218,246}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{218,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gamee-3-bird07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,644},{226,246}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{226,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gamee-3-bird08.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{228,246}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{228,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gamee-3-bird09.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,667},{232,246}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{232,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gamee-3-bird10.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1697},{234,246}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{234,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gamee-3-bird11.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1697},{232,246}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{232,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gamee-3-bird12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,915},{230,246}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{230,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gamee_3_Bird_Tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1138},{116,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,49}}</string>
                <key>sourceSize</key>
                <string>{116,49}</string>
            </dict>
            <key>Gamee_3_Boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2045},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>Gamee_3_Cha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,2},{81,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,54}}</string>
                <key>sourceSize</key>
                <string>{81,54}</string>
            </dict>
            <key>Gamee_3_Cha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2013},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>Gamee_3_Cha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1101},{85,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,70}}</string>
                <key>sourceSize</key>
                <string>{85,70}</string>
            </dict>
            <key>Gamee_3_Cha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1138},{77,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,51}}</string>
                <key>sourceSize</key>
                <string>{77,51}</string>
            </dict>
            <key>Gamee_3_Cha_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,1138},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>Gamee_3_Duck_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1830},{181,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,131}}</string>
                <key>sourceSize</key>
                <string>{181,131}</string>
            </dict>
            <key>Gamee_3_Duck_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,240},{121,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,82}}</string>
                <key>sourceSize</key>
                <string>{121,82}</string>
            </dict>
            <key>Gamee_3_Fall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,240},{66,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{66,88}</string>
            </dict>
            <key>Gamee_3_Fall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1085},{56,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,93}}</string>
                <key>sourceSize</key>
                <string>{56,93}</string>
            </dict>
            <key>Gamee_3_Gan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,1188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,1188}}</string>
                <key>sourceSize</key>
                <string>{18,1188}</string>
            </dict>
            <key>Gamee_3_Lake.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1188},{640,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,343}}</string>
                <key>sourceSize</key>
                <string>{640,343}</string>
            </dict>
            <key>Gamee_3_Leaf_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1830},{163,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,213}}</string>
                <key>sourceSize</key>
                <string>{163,213}</string>
            </dict>
            <key>Gamee_3_Leaf_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1936},{107,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,198}}</string>
                <key>sourceSize</key>
                <string>{107,198}</string>
            </dict>
            <key>Gamee_3_Leaf_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1945},{101,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,142}}</string>
                <key>sourceSize</key>
                <string>{101,142}</string>
            </dict>
            <key>Gamee_3_Leaf_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{640,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,87}}</string>
                <key>sourceSize</key>
                <string>{640,87}</string>
            </dict>
            <key>Gamee_3_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2045},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,4}</string>
            </dict>
            <key>Gamee_3_Num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2013},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Gamee_3_Num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2013},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>Gamee_3_Num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1894},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>Gamee_3_Num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,649},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>Gamee_3_Num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,649},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>Gamee_3_Num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1830},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>Gamee_3_Num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,649},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>Gamee_3_Num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,649},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>Gamee_3_Num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1861},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>Gamee_3_Num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,649},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Gamee_3_Score_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1931},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>Gamee_3_Shan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,308},{117,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,82}}</string>
                <key>sourceSize</key>
                <string>{117,82}</string>
            </dict>
            <key>Gamee_3_Shan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{105,517}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,517}}</string>
                <key>sourceSize</key>
                <string>{105,517}</string>
            </dict>
            <key>Gamee_3_Start_Btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1138},{227,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,48}}</string>
                <key>sourceSize</key>
                <string>{227,48}</string>
            </dict>
            <key>Gamee_3_Start_Btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1138},{227,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,48}}</string>
                <key>sourceSize</key>
                <string>{227,48}</string>
            </dict>
            <key>Gamee_3_Start_Door.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,685},{414,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,298}}</string>
                <key>sourceSize</key>
                <string>{414,298}</string>
            </dict>
            <key>Gamee_3_Start_Lake.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{645,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,320}}</string>
                <key>sourceSize</key>
                <string>{645,320}</string>
            </dict>
            <key>Gamee_3_Start_Tree_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{398,686}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,686}}</string>
                <key>sourceSize</key>
                <string>{398,686}</string>
            </dict>
            <key>Gamee_3_Start_Tree_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,690},{446,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,559}}</string>
                <key>sourceSize</key>
                <string>{446,559}</string>
            </dict>
            <key>Gamee_3_Stone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,250},{69,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,234}}</string>
                <key>sourceSize</key>
                <string>{69,234}</string>
            </dict>
            <key>Gamee_3_Stone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1936},{109,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,136}}</string>
                <key>sourceSize</key>
                <string>{109,136}</string>
            </dict>
            <key>Gamee_3_Stone_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,915},{168,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,90}}</string>
                <key>sourceSize</key>
                <string>{168,90}</string>
            </dict>
            <key>Gamee_3_Stone_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,1945},{113,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,95}}</string>
                <key>sourceSize</key>
                <string>{113,95}</string>
            </dict>
            <key>Gamee_3_Tree_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1188},{254,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,507}}</string>
                <key>sourceSize</key>
                <string>{254,507}</string>
            </dict>
            <key>Gamee_3_Tree_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{289,742}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,742}}</string>
                <key>sourceSize</key>
                <string>{289,742}</string>
            </dict>
            <key>Gamee_3_monkey00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,242},{76,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,30},{76,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,162},{78,142}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,29},{78,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,498},{80,144}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,28},{80,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,498},{82,144}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{82,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey04.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,521},{84,144}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{84,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,2},{86,142}}</string>
                <key>offset</key>
                <string>{-37,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{86,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,148},{88,142}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{88,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey07.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1101},{84,144}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{84,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey08.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1101},{84,144}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{84,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,148},{88,142}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{88,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey10.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,521},{84,144}}</string>
                <key>offset</key>
                <string>{-34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{84,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,498},{82,144}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{82,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,162},{76,142}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,29},{76,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,90},{78,142}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,28},{78,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{76,144}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,27},{76,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,82},{78,142}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,28},{78,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,80},{80,142}}</string>
                <key>offset</key>
                <string>{30,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,26},{80,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1931},{92,140}}</string>
                <key>offset</key>
                <string>{36,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,25},{92,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey18.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1945},{96,138}}</string>
                <key>offset</key>
                <string>{39,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,26},{96,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey19.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1945},{96,138}}</string>
                <key>offset</key>
                <string>{40,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,25},{96,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,170},{86,140}}</string>
                <key>offset</key>
                <string>{33,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,27},{86,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,2},{78,144}}</string>
                <key>offset</key>
                <string>{27,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,26},{78,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{76,144}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,27},{76,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{78,142}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,28},{78,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,498},{78,144}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,28},{78,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,498},{78,144}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,28},{78,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,238},{76,142}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,29},{76,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,242},{76,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,30},{76,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,242},{76,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,30},{76,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Gamee_3_monkey29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,242},{76,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,30},{76,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gamee_3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b0cab96e60a807e0331a48735997c13:1/1$</string>
            <key>textureFileName</key>
            <string>Gamee_3.png</string>
        </dict>
    </dict>
</plist>
